<?php 
if(count($fiches)>0) : ?>
<link rel="stylesheet" href="tools/bazar/presentation/styles/liste_bourse_echange.css">
<div id="BlocListeBourseEchange">

    <?php echo $info_res;?>
    <?php echo $pager_links;?>
    <?php 
    foreach($fiches as $fiche): ?>
    <?php


	 
			
	if ($fiche['listeListeTypeechange'] == 'Propos')
	{
		
		$background_style= 'style="border: 3px solid #ff6d66; margin-top: 20px; padding: 10px"';
		$texte_type_echange = " offre";
		$classe_couleur = " offre ";
		$a_style = "#ff6d66";
		$label = '';

		if ($fiche['listeListeStatutechange'] == '1')
		{	
			$label = '<span class="label label-warning">Pourvu</span>';
		}
	
	}
	else
	{
		$background_style= 'style="border: 3px solid #03a099; margin-top: 20px; padding: 10px"';
		$texte_type_echange = " recherche";
		$classe_couleur = " demande ";
		$a_style = "#03a099";
		$label = '';

		if ($fiche['listeListeStatutechange'] == '1')
		{	
			$label = '<span class="label label-warning">Pourvu</span>';
		}

        } ?>

        <script type="javascript">
        </script>

        <div class="bazar-entry ItemBourseEchange <?php echo $classe_couleur; ?>" <?php echo $background_style; echo $fiche[ 'html_data'];?>>
            <?php
			
			$nom_createur = $fiche['createur'];
			if ($fiche['createur'] == 'VillE')
				$nom_createur = 'Ville de Villeurbanne';
			else
			{
				if ($fiche_createur = $GLOBALS['wiki']->LoadSingle("SELECT LIBELLE_TIERS FROM annuaire_assos WHERE tag = '".$fiche['createur']."';"))
					$fiche_auteur = baz_valeurs_fiche($fiche['createur']);	
					$nom_createur = $fiche_auteur['bf_titre'];
			}
			echo '<a style="font-weight: bold; color:'.$a_style.'"; href="';
			echo $GLOBALS['wiki']->href('', $fiche['createur']);
			echo '">';
			echo $nom_createur;
			echo '</a>';
			?>

                <?php echo $texte_type_echange; ?>

                <span class="TitreEchange">
			<?php
			echo '<a style=color:'.$a_style.' href="';
			echo $GLOBALS['wiki']->href('', $fiche['id_fiche']);
			echo '">';
			echo $fiche['bf_titre'];
			echo '</a>';
			echo $label;
			?>
			</span>
                <hr style="margin: 5px !important;" />

                <span class="BlocDescriptionItemBourseEchange">
			<?php
				$description = strip_tags($GLOBALS['wiki']->Format($fiche['bf_description']));
				$description  = $fiche['bf_description'];
				if (strlen($description) > 140)
				{
					echo substr($description, 0, 140);
					echo '<a style="color: white;" href="wakka.php?wiki='.$fiche['id_fiche'].'">...</a>';
				}
				else
				{
					echo $description;
				}
					
			?>
			</span>

                <hr style="margin: 5px !important;" /> Contact :
                <?php
				if (!empty($fiche['bf_contact']))
				{
					echo $fiche['bf_contact'];
				}
				else
				{
					$fichelieu = $GLOBALS['wiki']->LoadSingle('SELECT email FROM '.$GLOBALS['wiki']->config['table_prefix'].'users WHERE name = "'.$fiche['createur'].'";');
					echo $fichelieu['email'];
				}
				?>
        </div>
        <?php 
    endforeach; ?>
</div>
<?php echo $pager_links;?>
<?php 
endif; ?>