
# YesWiki stuff

info.php
tools/hashcash/secret/wp-hashcash.key
cache/*

tools/wkhtmltopdf/*

# Macintosh OS

.DS_Store

# Eclipse IDe

.buildpath
.project
.settings/

# Other

.phpintel/

wikilleulyywbdd.sql
wakka.config.php